.movie-item{
    
    display: flex;
}

.movie-item-title{
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding: 5px;
    border-radius: 5px;
}

.movie-item > button {
    margin-left: 20px;
    width: 40px;
    background-color: rgb(127, 164, 212);
    color: white;
    border: rgb(127, 164, 212);
    border-radius: 5px;
}