@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
	--purple-color: #6527be;
	--secondary-color: #f2f2f2;
}

html,
body,
#root,
.app {
	height: 100%;
	font-family: "Inter", sans-serif;
}

body {
	background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	display: flex;
	align-items: center;
	justify-content: center;
}
